# deps
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/

# turbo
.turbo/

# ts build info
*.tsbuildinfo

# env
.env
.env.*
!.env.example
!.env.coolify.example

# logs / os
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.mcp.json
.txt.txt

# editor
.vscode/
.idea/
