# deps
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# logs / os
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.mcp.json

# editor
.vscode/
.idea/
